<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
#* @vtlvariable name="esc" type="org.apache.velocity.tools.generic.EscapeTool" *#
#* @vtlvariable name="redir" type="java.lang.String" *#
#* @vtlvariable name="logoutURI" type="java.lang.String" *#
#* @vtlvariable name="user" type="java.security.Principal" *#
<html>
    <head>
        <title>Logged In</title>
        <meta name="decorator" content="atl.smallfocus">
    </head>
    <body>
        <div class="aui-page-panel">
            <div class="aui-page-panel-inner">
                <section class="aui-page-panel-content">
                    <form action="$esc.html($logoutURI)" method="POST">
                        <div id="logged-in"> Logged in as $esc.html($user.name) </div>

                        <input name="redir" type="hidden" value="$esc.html($redir)">

                    </form>
                </section>
            </div>
        </div>
    </body>
</html>
