<html>
<head>
    <title>$i18n.getText('com.atlassian.refapp.streams.page.title')</title>
    <meta name="decorator" content="atl.general"/>
    <script>
        var activityStreamsBaseUrl = "$baseURL/plugins/servlet/streams";
    </script>   
    
    <style>    
        #section {
            width:70%;
            padding: 10px;
            margin: 0 auto;
        }
    </style>

    #set($ignore = $pageBuilderService.assembler().resources().requireWebResource("com.atlassian.streams.refapp:streams-resources"))
    
</head>
<body>
<div id="section">
    <p><p>
    <h1 align="center">$i18n.getText('com.atlassian.refapp.streams.page.welcome')</h1>
    <br />
    <table id="streamsTable" class="aui">
        <tbody>
        <tr>
            <th>$i18n.getText('com.atlassian.refapp.streams.page.table.id')</th>
            <th>$i18n.getText('com.atlassian.refapp.streams.page.table.content')</th>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
